{% extends "base.html" %}

{% block title %}Password Reset Complete | Government Complaint Portal{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
        <div class="alert alert-success">
            <h1 class="h5">Password changed successfully</h1>
            <p class="mb-2">You can now sign in with your new password.</p>
            <a class="btn btn-success btn-sm" href="{% url 'login' %}">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
